$main-background-color: #f9dac7;

$main-color-text: #000;
$main-color-border: #000;
// $main-color-hover: #7e1344;
$main-color-hover: #a54551;
$main-transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$promo-block-bgcolor: #fefefe94;
$bg-icons-color: #dfafaf;