@import '../../styles/variables.scss';

.iconAmplifier {
  top: 0;
  left: 5%;
  transform: rotate(25deg);
}

.iconDrum {
  top: 0;
  right: 4%;
  // transform: rotate(-25deg);
}

.iconMicrophone {
  top: 25%;
  left: 0;
  transform: rotate(-25deg);
}

.iconMixer {
  top: 25%;
  right: 0;
  transform: rotate(25deg);
}

.iconPiano {
  top: 50%;
  left: 5%;
  transform: rotate(25deg);
}

.iconRadio {
  top: 50%;
  right: 5%;
  transform: rotate(-25deg);
}

.iconSpeaker {
  top: 75%;
  left: 0;
  transform: rotate(-25deg);
}

.iconVinyl {
  top: 75%;
  right: 0;
  transform: rotate(25deg);
}

.bgIcon {
  position: absolute;
  fill: inherit;
  z-index: -1;
  display: none;

  @media (min-width: 1320px) {
    display: block;
  }
}